
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
   
    Author     : Ronny
*/

*{
    -fx-font-family: Roboto;
    -fx-base-color-focus:#09b6bc;
    -fx-base-color-unfocus:#4d4d4d;
    -fx-base-color-etiquetas:#4d4d4d/*#bcbcbc*/;
    -fx-base-color-titulos:#51b6cd;
}
.button{
    -fx-background-color: -fx-base-color-unfocus;
    -jfx-button-type: RAISED;
    -fx-opacity: 0.8;
    -fx-content-display: left;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment:CENTER_LEFT;
}
.button .jfx-rippler{-jfx-rippler-fill: white;}
.button:hover, .button:hover{-fx-background-color: #FF6D00;}
.button:disabled, .button:disabled {
    -fx-background-color: #cccccc;
    -fx-opacity: 0.4;
}
.record-sales {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.record-sales:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.record-sales:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.record-sales Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}
.toggle-button {
    -fx-font-size: 14.0px;
    -fx-pref-height: 26px;
    -fx-min-height: 26px;
    -fx-max-height: 26px;
    -jfx-checked-color: -fx-base-color-focus;
    -jfx-unchecked-color: -fx-base-color-unfocus;
    -fx-text-fill: -fx-base-color-etiquetas;
}
.imagen{
    -fx-background-image:url('../resources/mapa.png');
    -fx-min-height: 500px;
    -fx-min-weight: 500px;
    -fx-background-repeat: no-repeat;
    
}
.HBOXTitle{
    -fx-background-color: -fx-base-color-focus;
}

.btnEventosRuta:hover{
    -fx-background-color: -fx-base-color-focus;
    -fx-text-fill: white;
}
    
.btnEventosRuta{
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-background-image: null;
    -fx-border-radius: 5px;
}
.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
    -fx-border-color: rgba(9, 182, 188, 0.8);

}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}

.radio-button .radio:checked {
    -fx-background-color: red;
    -fx-border-color: red;
}

.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 2px;
}

    
.label{
    -fx-font-size: 15pt;
    -fx-font-family: "Segoe UI Semibold";
}

.label-calculo{
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: -fx-base-color-etiquetas;
    -fx-font-weight: bold;
}

.label-header {
    -fx-font-size: 25pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}
